.container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
div > p {
  width: fit-content;
  position: absolute;
  bottom: -40px;
}
.icon {
  margin: 40px;
  position: relative;
}
.bandage {
  background: url('/sprites.svg') no-repeat -25px -38px;
	width: 50px;
	height: 26px;
}
.baseball {
  background: url('/sprites.svg') no-repeat -125px -31px;
	width: 50px;
	height: 40px;
}
.blanket {
  background: url('/sprites.svg') no-repeat -230px -31px;
	width: 40px;
	height: 40px;
}
.basket {
  background: url('/sprites.svg') no-repeat -325px -31px;
	width: 50px;
	height: 40px;
}
.box {
  background: url('/sprites.svg') no-repeat -432px -33px;
	width: 36px;
	height: 36px;
}
.fire {
  background: url('/sprites.svg') no-repeat -535px -31px;
	width: 30px;
	height: 40px;
}
.church {
  background: url('/sprites.svg') no-repeat -625px -31px;
	width: 50px;
	height: 40px;
}
.yay {
  background: url('/sprites.svg') no-repeat -733px -31px;
	width: 34px;
	height: 40px;
}
.chatbox {
  background: url('/sprites.svg') no-repeat -30px -131px;
	width: 40px;
	height: 40px;
}
.couch {
  background: url('/sprites.svg') no-repeat -125px -136px;
	width: 50px;
	height: 30px;
}
.glove {
  background: url('/sprites.svg') no-repeat -232px -131px;
	width: 36px;
	height: 40px;
}
.bird {
  background: url('/sprites.svg') no-repeat -325px -131px;
	width: 50px;
	height: 40px;
}
.bullseye {
  background: url('/sprites.svg') no-repeat -430px -131px;
	width: 40px;
	height: 40px;
}
.cart {
  background: url('/sprites.svg') no-repeat -525px -131px;
	width: 50px;
  height: 40px;
}
.target {
  background: url('/sprites.svg') no-repeat -625px -131px;
	width: 50px;
	height: 40px;
}
.pumpkin {
  background: url('/sprites.svg') no-repeat -725px -131px;
	width: 50px;
	height: 40px;
}
.leaf {
  background: url('/sprites.svg') no-repeat -30px -231px;
	width: 40px;
	height: 40px;
}
.cup {
  background: url('/sprites.svg') no-repeat -127px -231px;
	width: 46px;
	height: 40px;
}
.bars {
  background: url('/sprites.svg') no-repeat -225px -233px;
	width: 50px;
	height: 36px;
}
.dna {
  background: url('/sprites.svg') no-repeat -335px -231px;
	width: 30px;
	height: 40px;
}
.cai_coi {
  background: url('/sprites.svg') no-repeat -430px -231px;
	width: 40px;
	height: 40px;
}
.scissors {
  background: url('/sprites.svg') no-repeat -532px -233px;
	width: 36px;
	height: 36px;
}
.landing_plane {
  background: url('/sprites.svg') no-repeat -625px -231px;
	width: 50px;
	height: 40px;
}
.takingoff_plane {
  background: url('/sprites.svg') no-repeat -725px -236px;
	width: 50px;
	height: 35px;
}
.van {
  background: url('/sprites.svg') no-repeat -25px -333px;
	width: 50px;
	height: 36px;
}
.lotus {
  background: url('/sprites.svg') no-repeat -127px -333px;
	width: 46px;
	height: 36px;
}
.house {
  background: url('/sprites.svg') no-repeat -230px -333px;
	width: 40px;
	height: 36px;
}
.square_ruler {
  background: url('/sprites.svg') no-repeat -330px -331px;
	width: 40px;
	height: 40px;
}
.swim {
  background: url('/sprites.svg') no-repeat -425px -338px;
	width: 50px;
	height: 26px;
}
.marker {
  background: url('/sprites.svg') no-repeat -528px -331px;
	width: 44px;
  height: 40px;
}
.astronaut {
  background: url('/sprites.svg') no-repeat -632px -331px;
	width: 36px;
	height: 40px;
}
.cardio {
  background: url('/sprites.svg') no-repeat -730px -333px;
	width: 40px;
	height: 36px;
}
.grad {
  background: url('/sprites.svg') no-repeat -32px -431px;
	width: 36px;
	height: 40px;
}
.wine_glass {
  background: url('/sprites.svg') no-repeat -138px -431px;
	width: 24px;
	height: 40px;
}
.disk {
  background: url('/sprites.svg') no-repeat -232px -433px;
	width: 36px;
	height: 36px;
}
.compa {
  background: url('/sprites.svg') no-repeat -330px -431px;
	width: 40px;
	height: 40px;
}
.mouse {
  background: url('/sprites.svg') no-repeat -427px -433px;
	width: 46px;
	height: 36px;
}
.tube {
  background: url('/sprites.svg') no-repeat -531px -432px;
	width: 38px;
	height: 38px;
}
.shit {
  background: url('/sprites.svg') no-repeat -630px -431px;
	width: 40px;
	height: 40px;
}
.cocktail--mojito {
  background: url('/sprites.svg') no-repeat -727px -431px;
	width: 46px;
	height: 40px;
}
.dish {
  background: url('/sprites.svg') no-repeat -30px -536px;
	width: 40px;
	height: 30px;
}
.dumbell {
  background: url('/sprites.svg') no-repeat -125px -533px;
	width: 50px;
	height: 36px;
}
.cocktail--black {
  background: url('/sprites.svg') no-repeat -230px -531px;
	width: 40px;
	height: 40px;
}
.cocktail--white {
  background: url('/sprites.svg') no-repeat -330px -531px;
	width: 40px;
	height: 40px;
}
.earth {
  background: url('/sprites.svg') no-repeat -430px -531px;
	width: 40px;
	height: 40px;
}
.earth--gray {
  background: url('/sprites.svg') no-repeat -530px -531px;
	width: 40px;
	height: 40px;
}
.fish {
  background: url('/sprites.svg') no-repeat -625px -536px;
	width: 50px;
	height: 30px;
}
.ninja {
  background: url('/sprites.svg') no-repeat -732px -531px;
	width: 36px;
	height: 40px;
}
.rx_btn {
  background: url('/sprites.svg') no-repeat -35px -631px;
	width: 30px;
	height: 40px;
}
.female {
  background: url('/sprites.svg') no-repeat -138px -631px;
	width: 24px;
	height: 40px;
}
.direction {
  background: url('/sprites.svg') no-repeat -230px -631px;
	width: 40px;
	height: 40px;
}
.cricket {
  background: url('/sprites.svg') no-repeat -325px -631px;
	width: 50px;
	height: 40px;
}
.map {
  background: url('/sprites.svg') no-repeat -427px -631px;
	width: 46px;
	height: 40px;
}
.together {
  background: url('/sprites.svg') no-repeat -525px -631px;
	width: 50px;
	height: 40px;
}
.big_board {
  background: url('/sprites.svg') no-repeat -630px -633px;
	width: 40px;
	height: 36px;
}
.cart_car {
  background: url('/sprites.svg') no-repeat -725px -631px;
	width: 50px;
	height: 40px;
}
.medal {
  background: url('/sprites.svg') no-repeat -32px -731px;
	width: 36px;
	height: 40px;
}
.del_btn {
  background: url('/sprites.svg') no-repeat -125px -736px;
	width: 50px;
	height: 30px;
}
.tooth {
  background: url('/sprites.svg') no-repeat -232px -731px;
	width: 36px;
	height: 40px;
}
.emp {
  background: url('/sprites.svg') no-repeat -332px -731px;
	width: 36px;
	height: 40px;
}
.scale {
  background: url('/sprites.svg') no-repeat -430px -731px;
	width: 40px;
	height: 40px;
}
.upload_btn {
  background: url('/sprites.svg') no-repeat -535px -731px;
	width: 30px;
	height: 40px;
}
.helmet {
  background: url('/sprites.svg') no-repeat -630px -731px;
	width: 40px;
	height: 39px;
}
.headphone {
  background: url('/sprites.svg') no-repeat -730px -733px;
	width: 40px;
	height: 36px;
}
